<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-delay="5000">
    <div class="toast-header text-black p-3 background-orange border-0">
      <h2 class="me-auto my-auto text-sm"><i class="fa-solid fa-bomb me-3 text-black"></i>Error</h2>
      <button type="button" class="btn-close text-white me-2" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body background-white-transp">
      <p class="text-xs text-black p-3 m-0">{{ message }}</p>
    </div>
  </div>